<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Personal Blog - Velog.io</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="header">
    <div class="logo">Velog.io</div>
    <nav>
        <a href="/" th:href="@{/}">Home</a>
        <a href="/@{user.loginId}" th:href="@{'/@' + ${user.loginId}}">Blog</a>
        <a href="/logout" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
    </nav>
</header>

<div class="content">
    <h2 th:text="'Welcome to ' + ${user.loginId} + ' Blog'"></h2>
    <div th:each="post : ${posts}" class="post">
        <h3 th:text="${post.title}"></h3>
        <p th:text="${post.content}"></p>
        <p th:text="${post.createdAt}"></p>
        <a th:href="@{'/@' + ${post.user.loginId} + '/' + ${post.title}}">View Details</a>
        <!--        <a th:href="@{'/posts/edit/' + ${post.id}}" sec:authorize="isAuthenticated() and #authentication.name == ${post.user.loginId}">Edit</a>-->
<!--        <form th:action="@{'/posts/delete/' + ${post.id}}" method="post" sec:authorize="isAuthenticated() and #authentication.name == ${post.user.loginId}">-->
            <button type="submit">Delete</button>
        </form>
    </div>
</div>

<footer class="footer">
    <p>&copy; 2024 Velog.io</p>
</footer>
</body>
</html>
